.mainindex {
    display: flex;
    flex-direction: column;
    background-image: url(https://scontent.faep14-3.fna.fbcdn.net/v/t1.6435-9/67480162_2440353752688543_5663699873459863552_n.jpg?stp=cp0_dst-jpg_e15_p320x320_q65&_nc_cat=111&ccb=1-7&_nc_sid=2d5d41&_nc_ohc=sAVlJuBX6YkAX9t7qJC&_nc_ht=scontent.faep14-3.fna&oh=00_AT8-gladKqvSJQ2ftpp1W3bs0dlAYgP7LWnc4ITzPdWtZA&oe=62F68408);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100rem;

    &__h2 {
        color: white;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.2;
        font-size: 3rem;
        letter-spacing: 1px;
        font-family: Merriweather, serif;
        text-align: center;
        margin-top: 1rem;
    }

    &__p {
        color: white;
        font-size: 1.2rem;
        font-style: italic;
        margin: 20px auto 0;
        text-align: center;
    }

    &__section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    &__div2 {
        background-color: rgba(247, 159, 77, 0.662);
        margin: 1rem 1rem 1rem 20px;
        width: 15rem;
        height: 23rem;

        img {
            width: 164px;
            height: 164px;
            background-position: 50% 50%;
            margin-top: 30px;
            margin-left: 35px;
            border-radius: 50%;
        }

        h4 {
            text-align: center;
            color: black;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            font-size: 1.5rem;
            margin: 3rem 1rem 5rem 1rem;
            font-family: Merriweather, serif;
        }
    }

    .boton {
        display: flex;
        justify-content: center;
        background-image: none;
        border-style: none;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px auto 60px;
        font-family: Merriweather, serif;
        background-color: rgba(247, 159, 77, 0.662);
        font-size: 1.5rem;

        &:hover {
            color: white;
        }


    }
}