// CONTACTO

.main {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(https://scontent.faep14-3.fna.fbcdn.net/v/t1.6435-9/67480162_2440353752688543_5663699873459863552_n.jpg?stp=cp0_dst-jpg_e15_p320x320_q65&_nc_cat=111&ccb=1-7&_nc_sid=2d5d41&_nc_ohc=sAVlJuBX6YkAX9t7qJC&_nc_ht=scontent.faep14-3.fna&oh=00_AT8-gladKqvSJQ2ftpp1W3bs0dlAYgP7LWnc4ITzPdWtZA&oe=62F68408);
    background-position: 50%;
    background-size: 100rem;

    &__form {
        width: 85vw;
        max-width: 450px;
        margin: auto;
        background: rgba(247, 159, 77, 0.662);
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 7px;
    }

    &__h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #212121;
        text-align: center;
        margin: 0;
        font-size: 25px;
        font-family: "Scope One", serif;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        font-size: 17px;
        border: none;
        border-radius: 10px;
    }

    textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
        width: 50rem;
        border: none;
        border-radius: 10px;
    }

    .boton {
        background-color: rgb(27, 27, 27);
        color: #FFFFFF;

        &:hover {
            color: #E97E3B;
        }
    }
}